$first-color:  #76b1f8;
$second-color: #4b7cde54;
$third-color: #294a86;
$fourth-color: #101d37;
$five-color: #140f07;
$text-color: #76b1f8;
$effect-color:#2196f3;

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    flex-wrap: wrap;
    border-radius: 10px;

    img {
        border-radius: 5%;
        padding: 5px;
    }
    
    .card-image{
        width: 100%;
    
    }

    .card {
        border: 5px $fourth-color solid;
        border-radius: 16px;
        width: 80%;
        margin: 0 1.5%;
    
    
    }
    .copy-card {
        
        border-top: 3px solid $fourth-color;
        margin: 0 150px 0 150px auto ;
        text-align: center;


        a {
            display: block;
            text-decoration: none;
            padding: 10px;
            color: $fourth-color;
            font-size: 18px;
            border-radius: 0  0 6px 6px;
                  

        }

        a:hover {
            background-color: $fourth-color;
            color: $text-color;
            
        }  
        
    }
}