@use 'navbar-section';
@use 'card';
@use 'neon-button';


@font-face {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap);
}

@font-face {
    font-family: 'Indie Flower', cursive;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@200&display=swap);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%margin-div {
    border-left: 10px dashed #2196f3;
    border-right: 10px dashed #2196f3;
    margin: 0 10px 0 10px;
    padding: 30px 0 ;
}

//colors

$first-color:  #76b1f8;
$second-color: #4b7cde54;
$third-color: #294a86;
$fourth-color: #101d37;
$five-color: #140f07;
$text-color: #76b1f8;
$effect-color:#2196f3;


body {
    background-color: #caf0f8 ;
    //background-image: url(../img/gatto.jpg); //test
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}




//navbar _navbar-section.scss

.my-head {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5%;
    border-radius: 10px;

    .border-image {
        border-bottom : 10px solid $fourth-color;
        border-top : 10px solid $fourth-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    img {
        margin: 5px 0 5px 0;
        opacity: 0.85;
        border-radius: 50%;
        }
    
    .border-name {
        margin-top: auto;
        margin-bottom: auto;;
        padding: 40px;
        border-bottom: 10px solid $fourth-color;
        border-radius: 50%;
        
        h1 {
            font-family: 'Indie Flower', cursive;
            font-size: 32px;
            color: $fourth-color;
        }
    }    
}

//section about  



.subtitle {

    h1 {
        margin: 20px;
        color: $fourth-color;
    }
    
    h2 {
        @extend %margin-div;
        color: $text-color;
        background-color: $fourth-color;
        text-align: center;
        font-size: 32px;
    }
}



.text {
    @extend %margin-div;
    border: none;
    padding: 90px 0;
    display: flex;
    justify-content: center;

    h3 {
        color: #101d37;
        margin: 40px 2%;
    }
}

p {
    margin: 10px 2%;
    font-size: 18px;
    line-height: 28px;
    color: $fourth-color;
}

//skill section
//////////////////////////////////
.center{
    border-radius: 15px;
    margin:8% 5% 8% 5%;
    padding: 20px;
    background: $fourth-color;
}

.skillbox{
    width: 100%;
    margin: 20px 0;

    p{
        color: $text-color;
        text-transform: uppercase;
        margin: 0 0 10px;
        padding: 0;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .skill{
        background: $five-color;
        padding: 4px;
        border: 1px solid $effect-color;
        border-radius: 5px;
    }
    
    .skill_level{
        background: $effect-color;
        width: 100%;
        height: 10px;
        border-radius: 5px;
    }
}

////////////////////////////////////


//section portfolio

.border-portfolio {
    @extend %margin-div;
    border: none;
}

//card section _card.scss

//neon button _neon-button.scss

.neon{
    @extend %margin-div;
}

.space {
    @extend %margin-div;
    padding: 70px;
    border: none;
}

//footer

footer {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $fourth-color;
    border-top: 10px dashed $effect-color;
    padding: 50px 20px;
    color: $text-color;

    ul {
        list-style-type: none;
        display: flex;

        li {
            padding: 5px 15px;
                       
            :hover {
                box-shadow: 0 0 5px $effect-color;
                border-radius: 50%;
            }

            img {
                padding: 3px;
            }
        }
    }
}


.copyright {
    color: $text-color;
    min-width: max-content;
    text-align: center;
}

//other page

.page {
    @extend %margin-div;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    align-items: center;
    border: none;
   
    .back-g-img {
       //width: 100% auto;
       margin: 80px 0; 
       background-color: $fourth-color;
       border-radius: 15px;
    }

    img{
        width: 80% auto;
        margin: 15px;
        background-color: $fourth-color;   
    }

    .text-other-page {
        border: none;
        margin-bottom: 60px;

        p {
            margin: 10px 2%;
            font-size: 18px;
            line-height: 28px;
            color: $fourth-color;
        }
    }
}

.new-link{
    text-decoration: none;
    color: $first-color;
    background-color: $fourth-color;
    padding: 5px;
    box-shadow: 0px 0px 20px $text-color;
    border-radius: 5px;
}


//scroollbar

 /* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $fourth-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $third-color;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $effect-color;
} 

//media 

@media only screen and (max-width: 400px) {
    .avatar {width: 80%; margin: 0% 10%;}
}

@media only screen and (max-width: 750px) {
    .item {margin: 10px;}
}

@media only screen and (min-width: 600px) {

    body{
        min-width: 100%
    }

    /*.card-container {
        //width: 300px;
        //max-width: 300px;
        
    }*/

    .cards {
        flex-direction: row;
        justify-content: space-around;
        
        flex-wrap: wrap;
        margin-top: 20px;
    }

    p {
        width: 600px;
    }

    .center{
       
        margin:8% 20% 8% 20%;
    
    }
}